body {
  background-color: #087e6d;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  color: white;
  margin: 0;
}

.container {
  width: 40%;
  height: 350px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1b9b86;
  gap: 25px;
}

.container .icon {
  width: 100px;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 50px;
}

.container input {
  border: none;
  background-color: #1b9b86;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.container input:hover {
  color: #095d50;
  cursor: pointer;
}
