.auction-detail-container {
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    .detail-toggle-button {
        display: flex;
        justify-content: space-between;

        .detail-toggle-button-box-a {
            display: flex;
            gap: 5px;
        }
    }

    .detail-photos {
        position: relative;
        margin-top: 20px;
        .detail-photo-button {
            position: absolute;
            display: flex !important;
            gap: 20px;
            width: 100%;
            bottom: 20px;
            left: 40px;

            .photo-button-content {
                background-color: #e2eaf2;
                padding: 1% 2%;
                border-radius: 10px;
                gap: 15px;
                display: flex;
                align-items: center;
                font-weight: 700;

                p {
                    margin: 0;
                }

                img {
                    width: 35px;
                    padding: 3%;
                }
            }
        }
    }

    .auction-detail-name {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        .auction-detail-name-number {
            display: flex;
            gap: 50px;
        }
    }

    .auction-detail-banner {
        background-color: #118bf4;
        font-size: 40px;
        padding: 0.5% 2%;
        border-radius: 8px;
        color: white;

        p {
            margin: 0;
        }
    }

    .auction-detail-description {
        margin-top: 30px;
    }

    .auction-detail-description-warning {
        padding: 3%;
        background-color: #f4f7fa;
        display: flex;
        align-items: center;
        border-radius: 8px;
        gap: 30px;

        p {
            margin: 0;
        }
    }

    .auction-detail-document {
        margin-top: 30px;

        .document-box {
            display: flex;
            gap: 100px;
            align-items: center;
            padding-left: 50px;
        }
    }

    .auction-detail-property {
        margin-top: 30px;

        .property-box {
            display: flex;
            justify-content: space-between;

            .property-title {
                font-size: 16px;
                font-weight: 600;
                margin: 0;
            }
        }
    }

    .detail-bidding-space {
        border: 0.3px solid #D1DEEA;
        padding: 4%;
        margin-top: 11%;
        border-radius: 10px;

        .clock-container {
            text-align: center;
            font-size: 40px;
            margin-bottom: 20px;
        }

        .detail-bid-price-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 60px;
            padding-right: 60px;

            .current-bid-price {
                border-right: 1px solid black;
                padding-right: 60px;
                margin-bottom: 10px;

                .current-price {
                    font-size: 48px;
                }
            }

            .number-bidder {
                .number {
                    font-size: 35px;
                }
                p {
                    font-size: 15px;
                    margin-top: 15px;
                }
            }
        }

        .detail-starting-price {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            padding: 2% 3%;
            font-size: 25px;
            background-color: #fafafa;
            border-radius: 7px;

            p {
                margin: 2% 1%;
            }
        }

        .detail-bid-deposit {
            display: flex;
            justify-content: space-between;
            padding: 2% 3%;
            font-size: 25px;
            border-radius: 7px;

            p {
                margin: 2% 1%;
            }
        }

        .note {
            margin-top: 80px;
            color: #607178;
            width: 100%;
            font-size: 17px;
        }

        .detail-place-bid {
            display: flex;
            justify-content: space-between;

            .place-bid-button {
                background-color: #f25d49;
                text-align: center;
                gap: 2px;
                width: 85%;
                padding: 3%;
                border-radius: 10px;
                color: white;
                font-weight: bold;
                font-size: 18px;
            }
        }
        .detail-orr {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            p {
                margin: 0;
                padding: 3%;
            }

            .line {
                height: 1px;
                background-color: black;
                border: 1px solid blackt;
                width: 45%;
            }
        }

        .detail-buy-absolute-button {
            background-color: #f25d49;
            text-align: center;
            border-radius: 10px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            padding: 3%;
        }

        .detail-chatting-button {
            background-color: #118bf4;
            text-align: center;
            border-radius: 10px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            padding: 3%;
            margin-top: 10px;
        }

    }

    .info-banner {

        margin-top: 30px;

        .info-banner-item {
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            gap: 20px;
            border: 0.3px solid #D1DEEA;
            border-radius: 7px;
            padding: 2%;

            h2 {
                font-size: 18px;
            }

        }
    }
}
